@import './styles/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base reset */
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: var(--font-sans);
}