/* Light theme */
:root {
  --bg: 255 255 255;
  --fg: 17 17 17;

  --muted: 245 245 245;
  --muted-fg: 85 85 85;

  --border: 225 225 225;

  --primary: 0 0 0;
  --primary-fg: 255 255 255;

  --ring: 0 0 0;
}

/* Dark theme */
.dark {
  --bg: 17 17 17;
  --fg: 255 255 255;

  --muted: 30 30 30;
  --muted-fg: 180 180 180;

  --border: 60 60 60;

  --primary: 255 255 255;
  --primary-fg: 0 0 0;

  --ring: 255 255 255;
}